<%= content_for(:title, "Home") %>

<section>
    <div class="wrapper dg-content">
        <div class="container-bg">
           <h1 class="animated wow fadeInUpBig animated">I BUILD WEB APP BASED ON YOUR IDEA</h1>
            <a class="btn btn-learnmore animated wow fadeInUpBig" href="#about">LEARN MORE</a>
        </div>
        <ul class="bg-life">
            <li>Life</li>
            <li>at</li>
            <li>Code</li>
            <li></></li>
            <li>{}</li>
            <li>Rails</li>
            <li>JS</li>
            <li>Ruby</li>
            <li>()</li>
            <li>WordPress</li>
        </ul>
    </div>
</section>
<section id="services-area">
    <div class="overlly dg-content">
        <div class="container">
            <div class="row">
                <h2 class="what-i-do">What I Do</h2>
                <hr>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-globe fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Web Application Development</h3>
                            <p>I am working on latest web technologies including Ruby on Rails, PHP Frameworks, Ajax, jQuery, Angularjs, WordPress etc. My primary target focuses on delivering high quality web based application with top performance. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-paper-plane-o fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Research on <br/>UI, UX</h3>
                            <p>User interface along with User experience is our principle research zone. It makes our apps versatile and popular over the world. </p>
                        </div>
                    </div>
                </div>
                <div class="col-md-4 col-sm-4">
                    <div class="web">
                        <div class="s-icon-bar">
                            <i class="fa fa-pencil fa-3x"></i>
                        </div>
                        <div class="s-description">
                            <h3 class="text-center">Custom <br/> Coding Service</h3>
                            <p>We listen to our client's personal requests very carefully also. So dedicated customization service also provided by our highly ecperienced developer team. </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="about">
    <div class="container">
        <div class="row">
            <div class="col-md-6 col-sm-6">
                <h2>About me</h2><hr>
                <div class="row">
                    <div class="col-md-4">
                        <%= image_tag("me.jpg", :alt => "Vubon Roy", class: "img-responsive vubon animated wow fadeInUpBig animated" ) %>
                    </div>
                    <div class="col-md-8">
                        <p>Hi,
                            My name is Vubon. I'm solving website problems of any platforms like PHP, WordPress etc. So why are you waiting to hire me for your problem ?? Let's do solve the problem or huge problems.

                            On the other hands, I also help people for making website of any kinds of business like E-commerce website , services website, small website or landing page , large website etc .
                            Don't wait for making your project live . You can message me feel freely and ask any question about project or about my skills :) . I am working web development category 2 years.  So I have pretty knowledge of web development area .

                            You can contact with me any methods like Skype, E-mail, Hangouts etc. 
                            <small>Best Regards 
                                Vubon
                            </small> 
                        </p>
                    </div>
                </div>
               
            </div>
            <div class="col-md-6 col-sm-6">
                <h2>Twitter Feed</h2><hr>
                <a class="twitter-timeline"  href="https://twitter.com/Vubonroy" data-widget-id="638069031736442880">Tweets by @Vubonroy</a>
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
            </div>
        </div>
    </div>
</section>
<br/>
<section id="skill">
    <div class="container">
        <div class="row">
            <h2 class="skill">Skills</h2>
            <hr/>
            <div class="col-md-12 text-center">
                <div class="canvas">
                    <canvas id="canvas" height="450" width="450"></canvas>
                </div>
            </div>
        </div>
    </div>
</section>
<section id="testmonials">
    <div class="container testmonials">
        <div class='row'>
            <h2 class="">Words from Clients</h2>
            <hr/>
            <div class='col-md-offset-2 col-md-8'>
              <div class="carousel slide" data-ride="carousel" id="quote-carousel">
                <!-- Bottom Carousel Indicators -->
                <ol class="carousel-indicators">
                  <li data-target="#quote-carousel" data-slide-to="0" class="active"></li>
                  <li data-target="#quote-carousel" data-slide-to="1"></li>
                  <li data-target="#quote-carousel" data-slide-to="2"></li>
                </ol>
                
                <!-- Carousel Slides / Quotes -->
                <div class="carousel-inner">
                
                  <!-- Quote 1 -->
                  <div class="item active">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                            <%= image_tag("Sal.jpg", :alt => "Vubon Roy", class: "img-circle client" ) %>
                        </div>
                        <div class="col-sm-9">
                          <p>Vubon is the man. Greatest web developer I have had</p>
                           <small>Sal
                                <span style="float:right">
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                </span>
                            </small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 2 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                            <%= image_tag(" samsonms.jpg", :alt => "Samson", class: "img-circle client" ) %>
                        </div>
                        <div class="col-sm-9">
                            <p>Vubon did a great job and successfully completed the project under deadline. He communicates frequently, and knew what he was doing. I will definitely keep Vubon in mind for future projects.</p>
                            <small>Christie Samson, MS
                                <span style="float:right">
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                </span>
                            </small>
                        </div>
                      </div>
                    </blockquote>
                  </div>
                  <!-- Quote 3 -->
                  <div class="item">
                    <blockquote>
                      <div class="row">
                        <div class="col-sm-3 text-center">
                            <%= image_tag 'stevepost.jpg', :alt => "Steve", class: "img-circle client" %>
                        </div>
                        <div class="col-sm-9">
                            <p>Vubon is a great freelancer... I hired him for many jobs throughout our contract and he did a great job everytime, Very reliable and has great availability, and is a great coder. Highly recommended!</p>
                            <small>Steve Post
                                <span style="float:right">
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                    <i class="fa fa-star star-color"></i>
                                </span>
                            </small>
                          
                        </div>
                      </div>
                    </blockquote>
                  </div>
                </div>
                
                <!-- Carousel Buttons Next/Prev -->
                <a data-slide="prev" href="#quote-carousel" class="left carousel-control"><i class="fa fa-chevron-left fa-left"></i></a>
                <a data-slide="next" href="#quote-carousel" class="right carousel-control"><i class="fa fa-chevron-right fa-right"></i></a>
            </div>                          
        </div>
    </div>
</section>

<section id="footer-top">
    <div class="footer-overlly">
        <div class="container button-area">
            <div class="row">
                <div class="col-md-6 text-right col-xs-6">
                    <a class="btn animated-button victoria-one btn-sm" target="_blank" href="https://www.upwork.com/freelancers/~0188b7ca06bed14aa5">Upwork</a>
                </div>
                <div class="col-md-6 col-xs-6">
                    <a class="btn animated-button victoria-one btn-sm" href="https://www.upwork.com/freelancers/~0188b7ca06bed14aa5">Contact</a>
                </div>
            </div>
        </div>
    </div>
</section>

